<table cellpadding="0" cellspacing="0">
    <tr>
        <td colspan=2 style='text-align:center; font-weight:bold'>Top Genre</td>
        <td style='text-align:center; font-weight:bold'>Avg BPM</td>
    </tr>
    {{#each this.days}}
    <tr>
      {{#if this.top_genre}}
        <td style='text-align:left' class='short-date'>
            <span class='sample-count-{{this.upload_stats.status}}'>&#x25CF;</span>
            {{shortDate this.day }}</td>
        <td class='sample-genre'>{{this.top_genre}}</td>
        <td style='text-align:center' class='sample-genre'>{{this.bpm.mean}}</td>
      {{else}}
          <td class='short-date'>
              <span class='sample-count-crit'>&#x25CF;</span>
              {{shortDate this.day }}
          </td>
          <td colspan=2  class='sample-genre'>No Data</td>
      {{/if}}
    </tr>
    {{/each}}
</table>
